<!doctype html>
<html lang="{{ lang }}">

<head>
    {% include "common/head.html" %}

    <title>Weather forecast for this week</title>
</head>

{% import "common/macros.html" as macros %}

<body class="font-monospace">
    <div class="container-fluid" role="main">
        <div class="row">
            <div class="col">
                <h2 class="mt-2">
                    {{ "week" | transl(lang) }}
                    <small class="text-muted">{{ daily[1].day }} –⁠ {{ daily[7].day }}</small>
                </h2>
            </div>
        </div>

        {% include "common/location.html" %}

        <div class="row">
            <div class="col">
                <table class="table" aria-describedby="Weather forecast for this week">
                    <thead class="align-middle">
                        <tr>
                            <th scope="col" id="day">
                                <em class="bi bi-calendar" aria-hidden="true"></em>
                            </th>
                            {{ macros.print_weather_table_header(lang) }}
                            <th scope="col" id="moon_phase" class="text-center">
                                {{ "moon_phase_short" | transl(lang) }}
                            </th>
                        </tr>
                    </thead>
                    <tbody class="align-middle">
                        {% for day in daily[1:] %}
                        <tr>
                            <th scope="row">
                                {{ day.day.capitalize() | break | safe }}
                            </th>
                            <td>
                                {{ macros.print_weather(day.weather_icon, day.weather_description) }}
                            </td>
                            <td class="text-end">
                                {{ day.temp_max | numfmt(0) }}<br />
                                <span class="text-secondary">{{ day.temp_min | numfmt(0) }}</span>
                            </td>
                            <td class="text-end">
                                {{ day.wind_speed | numfmt(0) }}<br />
                                <span class="text-secondary">{{ day.wind_direction_short | transl(lang) }}</span>
                            </td>
                            <td class="text-end">{{ day.humidity }}</td>
                            <td class="text-end">{{ day.prec | numfmt(1) }}</td>
                            <td class="text-center">{{ macros.print_moon_phase(day.moon_phase, lat) }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <th scope="col" class="border-bottom-0"></th>
                            {{ macros.print_weather_table_units(units) }}
                            <th scope="col" class="border-bottom-0"></th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>

    {% include "common/footer.html" %}
    {% include "common/scripts.html" %}
</body>

</html>