<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link href="{{ '/css/bootstrap.min.css' | fileuri }}" rel="stylesheet" />
<link href="{{ '/css/bootstrap-icons.min.css' | fileuri }}" rel="stylesheet" />
<link href="{{ '/css/weather-sender.css' | fileuri }}" rel="stylesheet" />