<div class="row">
    <div class="col">
        <p>
            {{ location_name }}
            {%- if location_state %}, {{ location_state }}{%- endif %}
            ({{ location_country }})
        </p>
    </div>
</div>